$app: #15233c;
$card-bg: #f5f6fa;
$green-blue: #007d8c;
$pink: #e54b6a;
$dark-grey: #2e2e2e;
$shadow: rgba(0, 0, 0, 0.2);
$primary-text: #000000;
$secondary-text: #fff;
$third-text: #a5a3a3;
$danger: #c80000;
